* {
	padding: 0;
	margin: 0;
}

.btn {
	text-align: center;
	.btn-primary {
		color: rgb(255, 255, 255);
		font-family: Work Sans;
		font-size: 20px;
		font-weight: 600;
		line-height: 23px;
		letter-spacing: 0%;
		text-align: center;
		border: none;
		border-radius: 8px;
		background: rgb(82, 195, 3);
		width: 250px;
		height: 50px;
	}
	.btn-scondary {
		border-radius: 8px;
		background: rgba(82, 195, 3, 0.15);
		color: rgb(16, 16, 16);
		font-family: Work Sans;
		font-size: 24px;
		font-weight: 600;
		line-height: 28px;
		letter-spacing: 0%;
		text-align: center;
		width: 200px;
		height: 50px;
		border: none;
	}
}

body {
	section.hero {
		width: 100%;
		height: 920px;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;

		.hero-content {
			width: 1024px;

			.subtitle {
				text-align: center;
				color: rgb(255, 255, 255);
				font-family: Work Sans;
				font-size: 32px;
				font-weight: 600;
				line-height: 38px;
				letter-spacing: 0%;
				text-align: center;
				opacity: 0.7;
				margin-bottom: 15px;
			}
			.title {
				color: rgb(255, 255, 255);
				font-family: Work Sans;
				font-size: 64px;
				font-weight: 700;
				line-height: 80px;
				letter-spacing: 0%;
				text-align: center;
				margin-bottom: 15px;
			}
			.description {
				color: rgb(255, 255, 255);
				font-family: Work Sans;
				font-size: 18px;
				font-weight: 500;
				line-height: 28px;
				letter-spacing: 0%;
				text-align: center;
				opacity: 0.7;
				margin-bottom: 15px;
			}
		}
	}

	section.card-box {
		text-align: center;
		margin-top: 35px;
		.subtitle {
			color: rgb(16, 16, 16);
			font-family: Work Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 28px;
			opacity: 0.6;
		}
		.title {
			color: rgb(16, 16, 16);
			font-family: Work Sans;
			font-size: 48px;
			font-weight: 700;
			line-height: 64px;
			margin: 35px 0;
		}
		.food-items {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 45px;
			.food-cart {
			}
		}
	}
}
